import { FC } from 'react';
import * as S from './styles';

export type {{pascalCase name}}Properties = {
  title: string;
};

export const {{pascalCase name}}: FC<{{pascalCase name}}Properties> = ({ title }) => (
  <S.Wrapper data-testid="{{dashCase name}}-component">
    <h1>{title}</h1>
  </S.Wrapper>
);
