import { FC } from 'react';
import * as S from './styles';

export type {{pascalCase name}}PageTemplateProperties = {
  title: string;
};

export const {{pascalCase name}}PageTemplate: FC<{{pascalCase name}}PageTemplateProperties> = ({ title }) => {
  return (
    <S.Wrapper data-testid="{{dashCase name}}-page-template">
      <p data-testid="title">{title}</p>
    </S.Wrapper>
  );
};
