import * as S from './styles';

export type {{pascalCase name}}TemplateProps = {
  title: string;
};

export default function {{pascalCase name}}Template({ title }: {{pascalCase name}}TemplateProps) {
  return (
    <S.Wrapper>
      <h1>{title}</h1>
    </S.Wrapper>
  );
}
